<!DOCTYPE html>
<html>
<head>
  <title>MAGICT MEDIA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//load.sumome.com/" data-sumo-site-id="d2a0af3875c634fc673e1e3390ba94e9c1e3b49a5776a30febcd1b22923c14b9" async="async"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75892211-3', 'auto');
    ga('send', 'pageview');
  </script>


</head>
<body class='<%= "#{ controller.controller_name }" %>'>
<%= render 'header' %>

<main>
<div class="row">
  <div id='<%= "#{ controller.controller_name }" %>' class='col m12 l12 h300 white'>
    <div class='center s12 m12 l12 pad50-top'>
      <%= image_tag 'MEDIA.jpg', class: 'logo tooltipped', "data-position" => :right, "data-delay" => "50", "data-tooltip" => "プログラミングメディアのMAGICTです！", style: "background-color: red;" %>
    </div>
  </div>
  <!-- <hr> -->
</div>
<!-- <div class="row">
  <div class="center">
    <%#= image_tag 'beta.jpg', class: 'logo center' %>
    <p class='around'>Helloo!</p>
  </div>
</div> -->
<div class="row">
  <div id='<%= "#{ controller.controller_name }" %>' class='col m8 l8 s12 white'>
  <div class="slider">
    <ul class="slides">
      <% @move_article.each do |move| %>
        <li>
          <%= link_to image_tag(move.image), article_path(move) %>
          <div class="caption center-align">
            <h2><%= move.title %></h2>

            <h4 class="light grey-text text-lighten-3">Check it</h4>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
  <!-- 右のarticle -->
  <div class="col m4 l4 s12 white" id='articles'>
    <%= image_tag 'cars.jpg', class: 'h400 wid' %>
    <div class="caption center-align">
    <!-- <span class='caption center-align'> -->
      <h5><b><%= link_to @right_article.title, article_path(@right_article) %></b></h5>
    </div>
    <!-- </span> -->
  </div>
</div>


<div class="row" data-no-turbolink >
<br/>
<!-- 左9 -->
  <div class='col s12 m9 l9 center'>
  <p class='around center'><b><i class='material-icons'>feedback</i>NEW</b></p>

  <% @search_articles.each do |article| %>
      <%= link_to article do %>
        <div class="col s12 m6 l4">
          <div class="card-panel hoverable h300 white lighten-5">
            <div class="card-image waves-effect waves-block waves-light" style='height: 200px'>

              <%= image_tag article.image %>
            </div>

            <div class="card-content" style="height: 5em">
              <span class="card-title grey-text text-darken-4 truncate">
                <b><%= article.title %></b>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- 右3 -->
  <div class="col s12 m3 l3">
    <p class='around1 center'><b><i class='material-icons'>trending_up</i>Pickup!</b></p>
    <% @pick_up.each do |pick| %>
      <br>
        <div class='card-panel hoverable white lighten-5 h300'>
          <div class="card-image waves-effect waves-block waves-light" style='height: 200px'>
            <%= image_tag pick.image %>
          </div>
          <b><%= link_to pick.title, article_path(pick) %></b>
        </div>
    <% end %>
  </div>
</div>

<%= controller.controller_name %>

</main>
<%= debug(params) if Rails.env.development? %>
  <%= render 'shared/footer' %>
</body>

<script>
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();

  $(document).ready(function(){
      $('.slider').slider({full_width: true, indicators: false, height: 400, interval: 2400});

    });
  // $('.slider').slider('next');
  // // Previous slide
  // $('.slider').slider('prev');
</script>

</html>