<!DOCTYPE html>
<html>
<head>
  <title>MAGICT MEDIA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//load.sumome.com/" data-sumo-site-id="d2a0af3875c634fc673e1e3390ba94e9c1e3b49a5776a30febcd1b22923c14b9" async="async"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75892211-3', 'auto');
    ga('send', 'pageview');
  </script>


</head>
<body class='<%= "#{ controller.controller_name }" %>'>
<nav>
  <div class="nav-wrapper header-custom under">
    <a href="#!" class="brand-logo">media</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
<%#= render 'shared/header' %>
<%#= render 'shared/message' %>
<main>
<div class="row">
  <div class="search center">
    <h1>検索</h1>
  </div>
</div>
<div class="row mar50-top">
  <div id='<%= "#{ controller.controller_name }" %>' class='col m12 l12 h550'>
    <p>hogehgoehgeohgeo</p>
    <p>hogehgoehgeohgeo</p>
    <p>hogehgoehgeohgeo</p>
    <p>hogehgoehgeohgeo</p>
    <p>hogehgoehgeohgeo</p>
    <p>hogehgoehgeohgeo</p>
    <p>hogehgoehgeohgeo</p>
    <p>hogehgoehgeohgeo</p>

  </div>
  <hr>
</div>


<div class="row" data-no-turbolink >
<br/>

<% @articles.each do |article| %>
    <%= link_to article do %>
      <div class="col s12 m6 l4">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light" style="height: 130px">

            <%= image_tag article.image %>
          </div>

          <div class="card-content" style="height: 6em">
            <span class="card-title grey-text text-darken-4 truncate">
              <%= article.title %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= controller.controller_name %>
<!--       <div class="container">
        <%#= yield %>
      </div> -->
</main>
<%= debug(params) if Rails.env.development? %>

  <%#= render 'shared/footer' %>

</body>

<script>
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();



  //$(".button-collapse").sideNav();

</script>

</html>


<!-- article -->
