<!DOCTYPE html>
<html>
<head>
  <title>MAGICT MEDIA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//load.sumome.com/" data-sumo-site-id="d2a0af3875c634fc673e1e3390ba94e9c1e3b49a5776a30febcd1b22923c14b9" async="async"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75892211-3', 'auto');
    ga('send', 'pageview');
  </script>


</head>
<body class='<%= "#{ controller.controller_name }" %>'>
<%= render 'header' %>

<%#= render 'shared/header' %>
<%#= render 'shared/message' %>
<main>
<div class="row grey lighten-5 mar5-top">
  
  <!-- メイン -->
  <div class="col s12 m9 l9 mar50-top">

    <div class="card-panel white lighten-5 h1500">
      <h3 class='title center'><blockquote><%= @article.title %></blockquote></h3>

      <div class='article'>
        <b><%= simple_format(@article.content) %></b>
      </div>

    </div>
  </div>

  <!-- side -->
  <div class="col s12 m3 l3 mar50-top">
    <div class ='side'>
      <ul>
        <li>広告スペース１</li>
        <br>
        <hr>
        <br>
        <li>広告スペース２</li>
        <br>
        <hr>
        <br>
        <li class='center'><b>関連記事</b></li>
        <% @articles.each do |article| %>
          <br>

          <div class='card-panel hoverable white lighten-5 h300'>
            <div class="card-image waves-effect waves-block waves-light" style='height: 200px'>
              <%= image_tag article.image %>
              <span class="badge red white-text center" style='position: absolute; top: 0px; left: 0px; width: 80px; height: 30px; margin: 0; line-height: 30px;'><b>check!</b></span>
            </div>
            <li><%= link_to article.title, article_path(article) %></li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>




<%= controller.controller_name %>

</main>
<%= debug(params) if Rails.env.development? %>

  <%#= render 'shared/footer' %>

</body>
</html>
<script>
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();
</script>