<div class="row">
  <div class="col m6 offset-m3 center">
    <h5>パスワードを変更</h5>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

      <%= render 'shared/devisemes' %>

      <%= f.hidden_field :reset_password_token %>

      <div class ="field">
        <%= f.password_field :password, placeholder: "新しいパスワード", autocomplete: "off" %>
      </div>

      <div class ="field">
        <%= f.password_field :password_confirmation, placeholder: "新しいパスワードをもう一度入力してね", autocomplete: "off" %>
      </div>

      <button class = "btn waves-effect waves-light" type = "submit" name="action">パスワードを変更する</button>
    <% end %>
  </div>
</div>
