<% content_for :head do %>
  <title><%= @project.name %> | NANONI_PROJECT  </title>
  <!-- twitter card data-->
  <meta name="twitter:card"        content="summary_large_image">
  <meta name="twitter:site"        content="@code4startup">
  <meta name="twitter:creator"     content="@code4startup">
  <meta name="twitter:title"       content="<%= @project.name %>">
  <meta name="twitter:description" content="<%= @project.content %>">
  <meta name="twitter:image:src"   content="<%= image_url @project.image %>">

  <!-- twitter Graph data-->
  <meta property= "og:site_name"   content="Nanoni_project">
  <meta property= "og:type"        content="website">
  <meta property= "og:title"       content="<%= @project.name %>">
  <meta property= "og:description" content="<%= @project.content %>">
  <meta property= "og:image"       content="<%= @project.image %>">

<% end %>


<div class="row ">
  <div class="col m4">
    <div class="card z-depth-2">

      <% if !@joined %>

        <div class="center">
          <h1><%= @project.price == 0? "free" : "#{ @project.price }円" %></h1>
        </div>
        <div class="card-action center">
          <% if user_signed_in? %>

            <% if @project.price == 0 %>
              <%= form_tag free_path do %>
                <%= hidden_field_tag 'project_id', @project.id %>
                <button type="submit" class="btn pink darken-2">選択する</button>
              <% end %>
            <% else %>
              <%= form_tag pay_path, id:'chargeForm' do %>
                <script src="https://checkout.stripe.com/checkout.js"></script>

                <%= hidden_field_tag 'stripeToken' %>
                <%= hidden_field_tag 'stripeEmail' %>
                <%= hidden_field_tag 'project_id', @project.id %>

                <button id="customButton" type="button" class="btn pink darken-2">課金してこのコースを学ぶ</button>
                <script>
                  var handler = StripeCheckout.configure({
                    key: '<%= ENV['STRIPE_PUBLIC_KEY'] %>', //stripe.rbを参考
                    locale: 'auto',
                    token: function(token, arg) {
                      $('#stripeToken').val(token.id);
                      $('#stripeEmail').val(token.email);
                      $('#chargeForm').submit();
                    }
                  });

                  $('#customButton').on('click', function(e) {
                    handler.open({
                      name: '第一次動画サービス',
                      description: '<%= @project.name %>',
                      //currency: "jpy",
                      amount: '<%= @project.price %>',
                      email : '<%= current_user.email %>'
                    });
                    e.preventDefault();
                  });
                </script>
              <% end %>
            <% end %>

          <% else %>
            <%= link_to new_user_session_path do %>
              <button type="submit" class="btn pink darken-2">選択する</button>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="card-content center">
          <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-medium" %><br>
          <h5><%= current_user.name %></h5>
        </div>
        <div class="card-action center">
          <% @users.each do |u| %>
            <span class="valign-wrapper">
              <%= image_tag avatar_url(u), class: "circle responsive-img avatar-small" %>&nbsp;
              <%= u.name %>
            </span><br/>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class ="col m8">
    <div class="card z-depth-2">
      <div class="card-image">
        <%= image_tag @project.image, class: 'resize' %>
      </div>

      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#about">about</a></li>
            <li class="tab col s3"><a href="#videos">videos</a></li>
            <li class="tab col s3"><a href="#discussions">discussion</a></li>
          </ul>
        </div>
        <div id="about" class="col s12">
          <div class="card-content grey-text text-darken-4">
            <h5><%= @project.name %></h5>
            <span id ="average_rating"></span>
            <p><%= @reviews.count %><%= @reviews.count > 1? "Reviews" : "Review" %></p>
            <hr>
            <%= simple_format(@project.content) %>

            <h4>レビュー</h4>
            <div><%= render 'reviews/form' if @joined && !@hasReview %></div>
            <div><%= render 'reviews/index' %></div>

          </div>
        </div>

        <div id="videos" class="col s10 offset-s1">
          <div class="collection" data-no-turbolink>
            <% @tasks.each do |task| %>
              <% if task.header %>
                <div class="collection-item active">
                  <i class="mdi-social-school"><%= task.title %></i>
                </div>
              <% else %>
                <%= link_to [task.project, task], class: "collection-item" do %>
                  <%= task.title %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div id="discussions" class="col s12">
          <!-- discussion -->
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              // configuration variables
              // var disqus_shortname = "nanoni_movie";
              // var disqus_identifer = '<%= @project.id %>';


          (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = '//nanoni-movie.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div>
      </div>




    </div>
  </div>
</div>
<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @project.average_rating %>
  });
</script>


